<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Compact.ttf</string>
		<string>SF-Compact-Italic.ttf</string>
		<string>SF-Compact-Rounded-Heavy.otf</string>
		<string>SF-Mono-Semibold.otf</string>
		<string>SF-Compact-Rounded-Semibold.otf</string>
	</array>
</dict>
</plist>
